.Navbar {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: auto;
    /* background-color: blue; */
    position: relative;
    /* overflow-y:; */   
}
.Navbar>nav {
    background-image: url('../assets/navbar_bg.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 12vh;
    background-position: bottom center;
    background-size: cover;
   
    display: flex;
    align-items: center;
    padding: 0 60px;

    border-bottom-left-radius: 70px;
    border-bottom-right-radius: 70px;

}

.container {
    /* background-color: aqua; */
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container>div {
    display: flex;
    align-items: center;
    gap:20px;
}

.title {

    font-size: 22px;
    font-weight: 700;
    color: white;

}

.no_underline {
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
    padding: 4px 8px;
    border: 2px solid white;
    border-radius: 7px;
    margin-left: 10px;
    color: white;
    text-decoration: none;

}

.register .no_underline {
    background-color: white;
    color: #ED5353;
}